html {
    background-color: #111111;
    color: #CCCCCC;
}

#name-title {
    text-align: center;
    font-size: 4rem;
    margin-top: 5rem;
}

#center-content {
    font-size: 1.5rem;
    max-width: 40%;
    margin: auto;
    text-align: justify;
}

img {
    max-width: 50%;
    margin: auto;
    display: block;
}

#idLinkedInIcon {
    background-color: rgb(0, 102, 170);
    border-radius: 6px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font: bold 35px Arial, Helvetica, sans-serif;
    height: 40px;
    margin-top: 1px;
    text-align: center;
    width: 40px;
}

#github {
    display: inline-block;
}

footer {
    margin-left: auto;
    margin-top: 2rem;
    text-align: center;
}